body {
  font-family: quicksand;
  background-color: rgb(179, 208, 233);
}

.header-h1 {
  font-size: 96px;
  line-height: 0.5;
  color: white;
}

.header-h3 {
  letter-spacing: 5px;
  padding-top: 150px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../images/cuba-beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 21/9;
  max-width: 100%;
}

.learn-button {
  text-align: center;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 400px;
  border: 3px solid #e2b2bc;
  border-radius: 20px;
  margin: 30px;
}

.grid-2 {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

main h2 {
  font-size: 50px;
  text-align: left;
  padding: 0 auto;
  margin: 0;
}

main h3 {
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
  margin: 0;
}

main p {
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
  margin: 0;
}

section {
  max-width: 1200px;
  padding: 0px 0px 20px 0px;
  margin-top: 20px;
}

section.secondary {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 0px 20px 0px;
  color: white;
  text-align: center;
}

.learn-more-button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  font-family: quicksand;
}

.card {
  background-color: gray;
  border-radius: 10px;
  margin-bottom: 80px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 20px;
}
.card-image {
  max-width: 150px;
  text-align: center;
  margin: 23px;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  padding-left: 70px;
}

footer section {
  background-color: #e2b2bc;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  max-width: 1200px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  padding-left: 40px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  padding-left: 40px;
}

footer ul {
  padding-left: 40px;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.icons-container {
  text-align: center;
  padding: 20px;
}

.secondary h2 {
  color: black;
  padding-top: 20px;
  padding-left: 70px;
  text-align: left;
}

.secondary h3 {
  color: black;
  text-align: left;
  padding-left: 70px;
}

.secondary h4 {
  font-weight: bolder;
}

.secondary h5 {
  font-weight: bolder;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    padding: 10px;
    line-height: 1.5;
  }
  h3 {
    font-size: 24px;
    padding: 10px;
  }
  .learn-button {
    margin-bottom: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32x;
    text-align: center;
  }
  section {
    padding: 30px;
  }
}
