body {
  font-family: quicksand;
  background-color: aliceblue;
}

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 96px;
  line-height: 0.5;
}

h3 {
  letter-spacing: 5px;
  padding-top: 150px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../images/cuba-beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 21/9;
  max-width: 100%;
  border-radius: 10px;
}

.learn-button {
  text-align: center;
  background-color: white;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding-left: 50px;
}

section {
  background-color: #e2b2bc;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  max-width: 1200px;
  height: 200px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.icons-container {
  text-align: center;
  padding: 20px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    padding: 10px;
    line-height: 1.5;
  }
  h3 {
    font-size: 24px;
    padding: 10px;
  }
  .learn-button {
    margin-bottom: 15px;
  }
}
